cheatsheet/main.log
cheatsheet/main.fdb_latexmk
cheatsheet/main.pdf
cheatsheet/main.synctex.gz
cheatsheet/main.aux
cheatsheet/main.fls
cheatsheet/main2.log
cheatsheet/main2.fdb_latexmk
cheatsheet/main2.pdf
cheatsheet/main2.synctex.gz
cheatsheet/main2.aux
cheatsheet/main2.fls